.main-wrapper {
  //display: flex;
  flex-direction: column;
  min-height: calc(100vh - 148px);
}
.header {
  margin: auto;
  //max-width: 1184px;
  border-bottom: none !important;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
section {
  flex: 1;
}

