.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 148px);
}


header {
  margin: auto;
  max-width: 1184px;
  border-bottom: none !important;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  bottom: 0;
  width: 100%;
  max-width: 1184px;
  z-index: 1000;
  
  ::ng-deep .nx-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    
    .nx-footer-navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      
      a, p {
        margin: 0 8px;
      }
    }
  }
}

section {
  flex: 1;
}

