@if (profileImageData().imageUrl.length > 10) {
  <div id="profileContainer" class="profile-image">
      <figure nxFigure="rounded" class="nx-figure-picture">
        <img
          class="profile-image-pic"
          loading="lazy"
          src="{{profileImageData().imageUrl}}"
          alt="KB Picture"
        />
      </figure>
    <div id="profile-image-name">
      <h1 nxHeadline size="m" class="nx-font-weight-bold"><span
        style="font-weight:bold;">{{ profileImageData().firstName }}&nbsp;{{ profileImageData().lastName }}&nbsp;</span>
      </h1>
    </div>
    <div class="nx-margin-top-1m" id="profile-image-message">
      <h2 class="nx-font-weight-regular"> {{ 'app.form.profileImage.message'|translate }}</h2>
    </div>
  </div>
}
